In [2]:
import pandas as pd
bank=pd.read_csv("bank-additional-full -project.csv")#loading dataset
display( bank.head(20))

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN

In [3]:
#declearing dataset information like names of coulmns 
bank.info()
bank.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
 21                  0 non-null      float64
dtypes: float64(6), int64(5), object(11)
memory usage: 6.9+ MB

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,0.0
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,NaN
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,NaN
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [4]:
#cheaking  if there is messing value in recordes 
bank.isna().sum()
# cheaking if there is doublicated values in dataset
bank.duplicated().sum()

np.int64(12)

In [5]:
bank.duplicated().describe()
bank.drop_duplicates().describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,
count,41176.00000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,0.0
mean,40.02380,258.315815,2.567879,962.464810,0.173013,0.081922,93.575720,-40.502863,3.621293,5167.034870,NaN
std,10.42068,259.305321,2.770318,186.937102,0.494964,1.570883,0.578839,4.627860,1.734437,72.251364,NaN
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [6]:
bank.drop(columns=[' '], inplace=True)

In [7]:

bank.rename(columns={'housing':'housing loan'},inplace=True)

In [8]:

bank.rename(columns={'default':'credit'},inplace=True)

In [9]:

bank.rename(columns={'y':'deposit '},inplace=True)

In [10]:
for i in bank:
   print(f"{i}  and mode {list(bank[i].mode())}")

age  and mode [31]
job  and mode ['admin.']
marital  and mode ['married']
education  and mode ['university.degree']
credit  and mode ['no']
housing loan  and mode ['yes']
loan  and mode ['no']
contact  and mode ['cellular']
month  and mode ['may']
day_of_week  and mode ['thu']
duration  and mode [85, 90]
campaign  and mode [1]
pdays  and mode [999]
previous  and mode [0]
poutcome  and mode ['nonexistent']
emp.var.rate  and mode [1.4]
cons.price.idx  and mode [93.994]
cons.conf.idx  and mode [-36.4]
euribor3m  and mode [4.857]
nr.employed  and mode [5228.1]
deposit   and mode ['no']

In [11]:

mode_for_every_column={'job':"admin",'marital':'married','education':'university.degree','credit':'no','housing loan':'yes','loan':'no'}
for a,b in mode_for_every_column.items():
   print(bank.replace({a:{'unknown':b}},inplace=True))

None
None
None
None
None
None

In [12]:
(bank == 'unknown').sum()

age               0
job               0
marital           0
education         0
credit            0
housing loan      0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
deposit           0
dtype: int64

In [13]:
for a, b in mode_for_every_column.items():
    unique_values = f"{{\n  '{a}': {bank[a].unique().tolist()}\n}}"
    print(unique_values)

{
  'job': ['housemaid', 'services', 'admin.', 'blue-collar', 'technician', 'retired', 'management', 'unemployed', 'self-employed', 'admin', 'entrepreneur', 'student']
}
{
  'marital': ['married', 'single', 'divorced']
}
{
  'education': ['basic.4y', 'high.school', 'basic.6y', 'basic.9y', 'professional.course', 'university.degree', 'illiterate']
}
{
  'credit': ['no', 'yes']
}
{
  'housing loan': ['no', 'yes']
}
{
  'loan': ['no', 'yes']
}

In [14]:
def outlier(columns):
   q1=columns.quantile(.25)
   q3=columns.quantile(.75)
   iqr=q3-q1
   lower = q1- 1.5*iqr
   upper= q3+1.5*iqr
   return [float(iqr),float(lower),float(upper)]
print(outlier(bank['age']))

[15.0, 9.5, 69.5]

In [15]:

bank = bank[(bank['age'] > 9.5) & (bank['age'] < 69.5)]

In [16]:
print(outlier(bank['duration']))

[217.0, -223.5, 644.5]

In [17]:
bank = bank[(bank['duration'] >-223.5) & (bank['duration'] < 644.5)]

In [18]:
print(outlier(bank['duration']))

[180.0, -173.0, 547.0]

In [19]:
bank = bank[(bank['duration'] >-173.0) & (bank['duration'] < 547.0)]

In [20]:
bank = bank[(bank['duration'] >-155.5) & (bank['duration'] < 512.5)]

In [36]:
negative_duration_count = (bank['duration'] < 0).sum()
negative_duration_count

np.int64(0)

In [21]:
bank['age'].describe()

count    36050.000000
mean        39.597337
std          9.652110
min         17.000000
25%         32.000000
50%         38.000000
75%         47.000000
max         69.000000
Name: age, dtype: float64

In [22]:
bank['age'].isna().sum()

np.int64(0)

In [23]:
display(bank)

,age,job,marital,education,credit,housing loan,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,deposit
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes

In [24]:
bank.to_csv("cleand-data.csv", index=False)