In [1]:
import pandas as pd
bank= pd.read_csv("cleand-data.csv")
bank

,age,job,marital,education,credit,housing loan,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,deposit
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36045,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
36046,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no
36047,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
36048,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
36049,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes

In [2]:
bank[bank['duration'] >0].count()-bank[bank['duration'] ==0].count()

age               36042
job               36042
marital           36042
education         36042
credit            36042
housing loan      36042
loan              36042
contact           36042
month             36042
day_of_week       36042
duration          36042
campaign          36042
pdays             36042
previous          36042
poutcome          36042
emp.var.rate      36042
cons.price.idx    36042
cons.conf.idx     36042
euribor3m         36042
nr.employed       36042
deposit           36042
dtype: int64

In [3]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36050 entries, 0 to 36049
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             36050 non-null  int64
 1   job             36050 non-null  object
 2   marital         36050 non-null  object
 3   education       36050 non-null  object
 4   credit          36050 non-null  object
 5   housing loan    36050 non-null  object
 6   loan            36050 non-null  object
 7   contact         36050 non-null  object
 8   month           36050 non-null  object
 9   day_of_week     36050 non-null  object
 10  duration        36050 non-null  int64
 11  campaign        36050 non-null  int64
 12  pdays           36050 non-null  int64
 13  previous        36050 non-null  int64
 14  poutcome        36050 non-null  object
 15  emp.var.rate    36050 non-null  float64
 16  cons.price.idx  36050 non-null  float64
 17  cons.conf.idx   36050 non-null  float64
 18  euribor3m       36050 non-null  float64
 19  nr.employed     36050 non-null  float64
 20  deposit         36050 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 5.8+ MB

In [4]:
bank.head(10)

,age,job,marital,education,credit,housing loan,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,deposit
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,university.degree,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
print(bank.columns.tolist())
bank.columns = bank.columns.str.strip()

['age', 'job', 'marital', 'education', 'credit', 'housing loan', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'deposit ']

In [6]:
bank[(bank['job']==bank['job'].mode()[0]) & (bank['deposit']==bank['deposit'].mode()[0])]

,age,job,marital,education,credit,housing loan,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,deposit
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
30,46,admin.,married,university.degree,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
40,38,admin.,single,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36017,35,admin.,single,professional.course,no,yes,no,cellular,nov,fri,...,3,999,4,failure,-1.1,94.767,-50.8,1.040,4963.6,no
36020,30,admin.,single,university.degree,no,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no
36027,33,admin.,married,university.degree,no,yes,no,cellular,nov,tue,...,1,999,1,failure,-1.1,94.767,-50.8,1.035,4963.6,no
36031,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
36044,36,admin.,married,university.degree,no,no,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no

In [7]:
filtrd1=bank.groupby('job')['deposit'].agg(lambda x:x.mode().loc[0])
filtrd1

job
admin            no
admin.           no
blue-collar      no
entrepreneur     no
housemaid        no
management       no
retired          no
self-employed    no
services         no
student          no
technician       no
unemployed       no
Name: deposit, dtype: object

In [8]:
deposit_counts = bank['deposit'].value_counts()
deposit_percent = bank['deposit'].value_counts(normalize=True) * 100
print("Deposit distribution counts", deposit_counts)
print("Deposit distribution (percentage", deposit_percent.round(2))

Deposit distribution counts deposit
no     33640
yes     2410
Name: count, dtype: int64
Deposit distribution (percentage deposit
no     93.31
yes     6.69
Name: proportion, dtype: float64

In [9]:
filtered = bank[bank['deposit'] == 'yes']
yes = filtered.groupby(['job', 'marital']).size().unstack().fillna(0).astype(int)
yes.corr()

marital   divorced   married    single
marital
divorced  1.000000  0.975007  0.746229
married   0.975007  1.000000  0.731417
single    0.746229  0.731417  1.000000

In [10]:
yes.corr()

marital   divorced   married    single
marital
divorced  1.000000  0.975007  0.746229
married   0.975007  1.000000  0.731417
single    0.746229  0.731417  1.000000

In [11]:
pivot_age = bank.pivot_table(index='deposit', values='age', aggfunc=['mean', 'median', 'min', 'max'])
print(pivot_age)

              mean median min max
               age    age age age
deposit
no       39.639774   38.0  17  69
yes      39.004979   36.0  17  69

In [12]:
# Job vs deposit
pivot_job = bank.pivot_table(index='job', columns='deposit', aggfunc='size', fill_value=0)
print(pivot_job)

deposit          no  yes
job
admin           275   18
admin.         8447  815
blue-collar    7949  204
entrepreneur   1220   51
housemaid       878   55
management     2405  183
retired         966  161
self-employed  1167   81
services       3371  135
student         547  207
technician     5609  400
unemployed      806  100

In [13]:
pivot_marital = bank.pivot_table(index='marital', columns='deposit', aggfunc='size', fill_value=0)
print(pivot_marital)

deposit      no   yes
marital
divorced   3780   207
married   20652  1223
single     9208   980

In [14]:
pivot_education = bank.pivot_table(index='education', columns='deposit', aggfunc='size', fill_value=0)
print(pivot_education)

deposit                 no   yes
education
basic.4y              3312   152
basic.6y              1950    65
basic.9y              5132   177
high.school           7846   524
illiterate              13     2
professional.course   4301   330
university.degree    11086  1160

In [15]:
pivot_duration = bank.pivot_table(index='deposit', values='duration', aggfunc=['mean', 'median', 'min', 'max'])
print(pivot_duration)

               mean   median      min      max
           duration duration duration duration
deposit
no       177.985048    153.0        0      512
yes      284.676349    271.0       37      512

In [16]:
pivot_month = bank.pivot_table(index='month', columns='deposit', aggfunc='size', fill_value=0)
print(pivot_month)

deposit     no  yes
month
apr       1848  343
aug       5208  336
dec         73   62
jul       5939  210
jun       4439  311
mar        235  230
may      11927  276
nov       3391  216
oct        322  243
sep        258  183

In [17]:
pivot_day = bank.pivot_table(index='day_of_week', columns='deposit', aggfunc='size', fill_value=0)
print(pivot_day)

deposit        no  yes
day_of_week
fri          6443  420
mon          7113  445
thu          6920  563
tue          6582  517
wed          6582  465

In [18]:
economic_vars = ['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
for var in economic_vars:
    pivot_econ = bank.pivot_table(index='deposit', values=var, aggfunc=['mean', 'median', 'min', 'max'])
    print(pivot_econ)

                mean       median          min          max
        emp.var.rate emp.var.rate emp.var.rate emp.var.rate
deposit
no          0.264370          1.1         -3.4          1.4
yes        -1.977842         -1.8         -3.4          1.4
                  mean         median            min            max
        cons.price.idx cons.price.idx cons.price.idx cons.price.idx
deposit
no           93.605555         93.918         92.201         94.767
yes          93.218853         93.075         92.201         94.767
                 mean        median           min           max
        cons.conf.idx cons.conf.idx cons.conf.idx cons.conf.idx
deposit
no         -40.613847         -41.8         -50.8         -26.9
yes        -39.081245         -40.0         -50.8         -26.9
             mean    median       min       max
        euribor3m euribor3m euribor3m euribor3m
deposit
no       3.826794     4.857     0.634     5.045
yes      1.330085     0.900     0.634     5.045
                mean      median         min         max
         nr.employed nr.employed nr.employed nr.employed
deposit
no       5177.012925      5195.8      4963.6      5228.1
yes      5056.286639      5076.2      4963.6      5228.1

In [19]:
loan_vars = ['credit', 'housing loan', 'loan']
for var in loan_vars:
    loan_deposit = bank.groupby([var, 'deposit']).size()
    print( loan_deposit)

credit  deposit
no      no         33637
        yes         2410
yes     no             3
dtype: int64
housing loan  deposit
no            no         15225
              yes         1017
yes           no         18415
              yes         1393
dtype: int64
loan  deposit
no    no         28499
      yes         2076
yes   no          5141
      yes          334
dtype: int64

In [20]:
campaign_stats = bank.groupby('deposit')['campaign'].describe()
previous_stats = bank.groupby('deposit')['previous'].describe()
print( "current campaign\n",  campaign_stats)
print('pre campaign\n' , previous_stats)

current campaign
            count      mean       std  min  25%  50%  75%   max
deposit
no       33640.0  2.647771  2.912578  1.0  1.0  2.0  3.0  56.0
yes       2410.0  1.822822  1.277149  1.0  1.0  1.0  2.0  17.0
pre campaign
            count      mean       std  min  25%  50%  75%  max
deposit
no       33640.0  0.130499  0.404319  0.0  0.0  0.0  0.0  7.0
yes       2410.0  0.670954  0.953477  0.0  0.0  0.0  1.0  6.0